asgiref==3.8.1
cffi==1.17.1
cryptography==45.0.4
Django==5.2.3
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dotenv==0.9.9
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
pycparser==2.22
pycryptodome==3.23.0
PyJWT==2.9.0
python-dotenv==1.1.0
sqlparse==0.5.3
